---
import LayoutHalloween from "../../layouts/LayoutHalloween.astro";
import { movies } from "../../lib/movies";

function getCleanRuntime(runtime: number) {
  const hours = Math.floor(runtime / 60);
  const minutes = runtime - (hours * 60);

  return hours + 'hr ' + minutes + 'min';
}

function getCleanDate(dateString: string) {
  let d = new Date(dateString);
  let str = d.toLocaleDateString('en-US', { month: 'long', day: 'numeric'});
  let suffix = getOrdinalSuffx(d.getDate());
  return str + suffix;

}

function getOrdinalSuffx(day: number) {
  if (day > 3 && day < 21) return "th";
  switch (day % 10) {
    case 1:
      return "st";
    case 2:
      return "nd";
    case 3:
      return "rd";
    default:
      return "th";
  }
}

---

<LayoutHalloween>
	<Fragment slot="head">
		<title>Freaky Fridays | Halloween Movie Schedule</title>
	</Fragment>
	<Fragment slot="body">
    <h1>🍿👻🎃</h1>
    <br />
    ---
    <p>Movie night every Friday leading up to Halloween.</p>
    <p>7:30pm start @ my apartment.</p>
    <p>Text me to RSVP.</p>
    <p>
      <a href="#terms">Terms and Conditions Apply</a>
    </p>
    ---
    <br />
    <br />
    <div class="movies">
      {movies.map((movie) => (
        <article class="movie" data-date={movie.showtime_date}>
          <h2>{getCleanDate(movie.showtime_date)}</h2>
          <img class="poster" src={'https://image.tmdb.org/t/p/w400' + movie.poster_path} alt={movie.title} />
          <h2><a href={'https://imdb.com/title/' + movie.imdb_id} target="_blank" rel="noreferrer noopener external">{movie.title}</a></h2>
          <p>({movie.release_date.slice(0,4)}) {getCleanRuntime(movie.runtime)}</p>
        </article>
      ))}
    </div>
    <br />
    <br />
    ---
    <p id="terms">Terms and Conditions</p>
    <p class="terms">No purchase necessary.</p>
    <p class="terms">Movies/dates/times/location are all subject to change.</p>
    <p class="terms">There is no guarantee you will not have nightmares or trouble sleeping.</p>
    <p class="terms">If you don't enjoy the movie and think it's bad, then that's your problem.</p>
    <p class="terms">All time commited is non-refundable. You can't unwatch a movie, unless you have a time machine.</p>
	</Fragment>
</LayoutHalloween>

<style>
  body {
    padding: 1.25rem 2rem;
    overflow-x: hidden;
  }
  
  .movie {
    margin: 0 0 2rem;
    width: 250px;
    display: inline-block;
    position: relative;
  }

  .poster {
    user-select: none;
    pointer-events: none;
  }

  .movies {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .terms {
    line-height: 1;
    margin: .5rem 0;
    font-size: .8rem;
    opacity: .6;
  }

  .watched .poster {
    opacity: .2;
  }

  .watched::after {
    content: "😱📺";
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  @media (max-width: 600px) {
    .movie {
      width: 150px;
    }

    .movies {
      gap: 2rem;
      justify-content: space-evenly;
    }

    h2 {
      font-size: 1rem;
    }

    body {
      padding: 1rem 1rem 8rem;
    }

    .watched::after {
      font-size: 3rem;
    }
  }

  @media (min-width: 600px) {
    .watched::after {
      font-size: 4.5rem;
    }
  }

</style>

<script>
  function isPastDate(dateString: string) {
    return new Date(dateString) < new Date();
  }

  function checkDates() {
    document.querySelectorAll('.movie').forEach((el) => {
      if (el instanceof HTMLElement === false) {
        return;
      }
      if (!el.dataset.date) {
        return;
      }
      if (isPastDate(el.dataset.date)) {
        el.classList.add('watched');
      }
    })
  }

  checkDates();
</script>

